<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Shop</title>
    <script src="{{url_for('static', filename='jquery-3.2.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css')}}"/>

    <script src="{{url_for('static', filename='shop.js')}}"></script>
    <link type="text/css" href="{{url_for('static', filename='shop.css')}}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<header id="header">
    <div>
        <nav id="nav" class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <div class="navbar-header mybrand">
                        <a class="navbar-brand" href="{{url_for('shop.shop')}}">Shop</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{url_for('shop.shop')}}">首页</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li><a href="{{url_for('cart.cart')}}">购物车</a></li>
                        </ul>
                        {% if user %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">matrix<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Logout</a></li>
                              </ul>
                            </li>
                        </ul>
                        {% endif %}
                      </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<div id="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ message[0] }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message[1] }}
    </div>
    {% endfor %}

    {% block content %}
    {% endblock %}

    </div>
    <div class="col-md-2"></div>
</div>
</body>
</html>